*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para la sección hero */
.hero {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    height: 100vh;
    display: flex;
    
}

.hero-content {
    width: 50%;
    align-content: center;
}

#animation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#animation-a{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    animation: rotate 2s ease-in;
    animation-delay: 0.8s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
}
#rotate1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(0deg);
    position: absolute;
}

#rotate2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
}
#animation_a{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(0deg);
    position: absolute;
}
#animation_b{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(30deg);
    position: absolute;
}
#animation_c{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(60deg);
    position: absolute;
}
#animation_d{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(0deg);
    position: absolute;
}
#animation_e{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-header-footer);
    transform: rotate(30deg);
    position: absolute;
}
#animation_f{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    animation-delay: 0.8s;
    transform: rotate(60deg);
    position: absolute;
}

#rotate1 #animation-b{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px ;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(0deg);    
}
#rotate1 #animation-c{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-principal);
    position: absolute;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(15deg); 
}
#rotate1 #animation-d{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(30deg); 
}
#rotate1 #animation-e{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-principal2);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg); 
}
#rotate1 #animation-f{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-principal2);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(60deg); 
}
#rotate1 #animation-g{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(75deg); 
}
#rotate2 #animation-b{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px ;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-principal2);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(90deg);    
}
#rotate2 #animation-c{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-principal);
    position: absolute;
    background-color: var(--color-principal2);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(105deg); 
}
#rotate2 #animation-d{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(120deg); 
}
#rotate2 #animation-e{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(135deg); 
}
#rotate2 #animation-f{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(150deg); 
}
#rotate2 #animation-g{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-principal2);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(165deg); 
}
#centro{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--color-secundario);
    position: absolute;
    z-index: 2;
}
@keyframes rotate {
    0% { transform: rotate(0deg) scale(0); }
    100% { transform: rotate(45deg) scale(1.1); }
}
.hero h1 {
    width: 100%;
    text-align: left;
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 0;
    margin-left: 70px;
}

.hero p {
    text-align: left;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-left: 70px;
}

/* Estilos para el header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--color-header-footer);
    color: var(--color-fondo);
    transition: height 0.3s ease;
}

header.scrolled {
    height: 20vh;
    position: sticky;
}

header .logo {
    font-size: 2rem;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: var(--color-fondo);
    text-decoration: none;
    font-size: .8rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--color-hover);
}

/*Estilos para la seccion sobre mi*/

#about{
    height: 100vh;
    padding: 25px;
    background-color: var(--color-secundario);
    margin-top: 10px;
    align-content: center;
}

#about h2 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 20px;
}

#about p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.6rem;
    line-height: 30px;
    padding-right: 20px;
}

/* Estilos para la sección de habilidades */
 #skills {
    height: 100vh;
    padding: 25px;
    background-color: var(--color-principal);
    margin-top: 10px;
}
#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    width: 40%;
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

/* Estilos para los proyectos */
 #projects {
    height: 100vh;
    padding: 25px;
    background-color: var(--color-principal);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.project {
    height: 70%;
    background-color: var(--color-secundario);    
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
.project1{
    height: 80px;
    width: 100%;
    background-color: var(--color-secundario);
    border-radius: 10px;
    text-align: center;
    align-content: center;
}

.project h3 a {
    color: var(--color-principal);
    text-decoration: none;
}

.project h3 a:hover {
    color: var(--color-hover);
}

article{
    width: 250px;
    height: 300px;
    margin: 0 auto;
    padding: 1rem;
    background-color: transparent;    
    border-radius: 5px;
    border: 1px solid var(--color-principal2);
}
#img1{
    width: 100%;
    background-image: url(/imagenes/banana-leaf-8489887_1280.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    object-fit: contain;
}
#img2{
    width: 100%;
    background-image: url(/imagenes/stream-8482939_1280.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    
}

#img3{
    width: 100%;
    background-image: url(/imagenes/the-season-of-ripe-rice-7279448_1280.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

#carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px; /* Ajusta según el tamaño deseado */
}

.carousel-container {
    display: flex;
    width: 100%; /* 100% x número de slides */
    animation: slide 12s infinite;
}

.carousel-slides {
    display: flex;
    width: 100%;
}

.slide {
    flex: 1;
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Animación para el carrusel */
@keyframes slide {
    0% { transform: translateX(0%); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

/* Estilos para el formulario de contacto
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-hover);
} */

footer {
    background-color: var(--color-header-footer);
    color: var(--color-fondo);
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px var(--color-sombra);
}

.footer-content p {
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
}

.social-links {
    width: 100%;
    margin-top: 1rem;
}

.social-links a {
    margin: 0 0.5rem;
    display: inline-block;
}

.social-links img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.social-links a:hover img {
    opacity: 0.8;
}

/*botones inicio*/

#boton{
    width: 100%;
    display: flex;
    margin-top: 25px;
    margin-left: 80px;
    gap: 15px;
}
#button1{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--color-boton);
    color: var(--color-texto);
}
#button2{
    width: 100px;
    height: 30px;
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    color: var(--color-fondo);
}

