*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos para la sección hero */
.hero {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    height: 100vh;
    display: flex;
    
}

.hero-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#animation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#animation-a{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    animation: rotate 2s ease-in;
    animation-delay: 0.8s;
    animation-timing-function:ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
}
#rotate1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(0deg);
    position: absolute;
}

#rotate2{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
}
#animation_a{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(0deg);
    position: absolute;
}
#animation_b{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(30deg);
    position: absolute;
}
#animation_c{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(60deg);
    position: absolute;
}
#animation_d{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    transform: rotate(0deg);
    position: absolute;
}
#animation_e{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-header-footer);
    transform: rotate(30deg);
    position: absolute;
}
#animation_f{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    animation-delay: 0.8s;
    transform: rotate(60deg);
    position: absolute;
}

#rotate1 #animation-b{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px ;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(0deg);    
}
#rotate1 #animation-c{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-principal);
    position: absolute;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(15deg); 
}
#rotate1 #animation-d{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(30deg); 
}
#rotate1 #animation-e{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-boton);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg); 
}
#rotate1 #animation-f{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-boton);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(60deg); 
}
#rotate1 #animation-g{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(75deg); 
}
#rotate2 #animation-b{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px ;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-boton);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(90deg);    
}
#rotate2 #animation-c{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-principal);
    position: absolute;
    background-color: var(--color-boton);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(105deg); 
}
#rotate2 #animation-d{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    border: 2px solid var(--color-header-footer);
    position: absolute;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    transform: rotate(120deg); 
}
#rotate2 #animation-e{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(135deg); 
}
#rotate2 #animation-f{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-azul-secundario);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(150deg); 
}
#rotate2 #animation-g{
    width: 150px;
    height: 150px;
    border-radius: 15px 250px;
    position: absolute;
    border: 2px solid black;
    background-color: var(--color-boton);
    transition:ease-in-out;
    animation: rotate 2.5s ease-in-out;
    animation-delay: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:initial;
    animation-direction:normal;
    animation-fill-mode:both;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(165deg); 
}
#centro{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--color-azul-secundario);
    position: absolute;
    z-index: 2;
}
@keyframes rotate {
    0% { transform: rotate(0deg) scale(0); }
    100% { transform: rotate(45deg) scale(1.1); }
}
.hero h1 {
    width: 100%;
    text-align: left;
    font-size: clamp(2rem, 3.5vw, 4rem);
    margin: 0;
    margin-left: 70px;
}

.hero p {
    text-align: left;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-left: 70px;
}

/* Estilos para el header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--color-header-footer);
    color: var(--color-fondo);
    transition: height 0.3s ease;
}

header.scrolled {
    height: 20vh;
    position: sticky;
}

header .logo {
    font-size: 2rem;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: var(--color-fondo);
    text-decoration: none;
    font-size: .7rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--color-hover);
}

/*Estilos para la seccion sobre mi*/

#about{
    min-height: 400px;
    padding: 0 100px;
    background-color: var(--color-boton);
    align-content: center;
}

#about h2 {
}

#about p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.2;
    padding-right: 20px;
}

/* Estilos para la sección de habilidades */
.habilidades{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-boton);
    border: none;
    box-shadow: none;
}
.estudios{
    width: 30%;
    list-style-position: inside;   
}
.estudios h2{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.estudios ul li{
    font-size: 0.7rem;
}

 #skills {
    width: 70%;
    height: 150px;
    align-content: center;
    background-color: var(--color-boton);
}
#skills h2{
    font-size: 1.3rem;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 10px;
}
#skills ul {
    display: flex;
}

#skills ul li {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-boton);
    color: var(--color-fondo);
    font-size: .8rem;
}

#skills ul li img {
    width: 40%;
    margin-bottom: 3px;
    object-fit: contain;
}

/* Estilos para los proyectos */
 #projects {
    min-height: 100vh;
    padding: 25px;
    background-color: var(--color-principal);

}
.project {
    width: 100%;
    height: 100%;
    background-color: var(--color-principal);    
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.project-a{
    height: 100%;
    width: 60%;
    background-color: var(--color-principal);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.project1{
    height: 80px;
    width: 100%;
    background-color: var(--color-principal);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    margin-top: 15px;
}

.project h3 a {
    color: var(--color-principal);
    text-decoration: none;
}

.project h3 a:hover {
    color: var(--color-hover);
}

/*Article´s*/

article{
    width: 220px;
    height: auto;
    background-color: var(--color-boton);    
    border-radius: 15px;
    border: 1px solid var(--color-principal2);
    display: flex;
    flex-direction: column;
}

.imgart{
    width: 100%;
    height: 60%
}

.textart{
    padding: 15px;
    width: 100%;
    height: 40%;
}

article h3{
    margin: 0;
    margin-top: 15px;
    color: var(--color-azul-secundario);
    font-size: 1.1rem;
}
article p{
    font-size: .8rem;
    margin: 8px 0;
}
/*Imagenes article*/
#img1{
    width: 100%;
    height: 150px;
    background-image: url(/imagenes/portfolio.png);
    background-size:cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}
#img2{
    width: 100%;
    height: 150px;
    background-image: url(/imagenes/Control\ Stock.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    
}

#img3{
    width: 100%;
    height: 150px;
    background-image: url(/imagenes/Growshop.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

/*Botones article*/

#btnart{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

#btnart1{
    width: 70px;
    height: 30px;
    
    background-color: transparent;
    color: var(--color-fondo);
    border: 1px solid var(--color-azul-secundario);
    border-radius: 8px;
}
#btnart2{
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-azul-secundario);
    color: var(--color-fondo);
    border: 1px solid var(--color-azul-secundario);
    border-radius: 8px;
}

#btnart img{
    width: 23px;
    height: 23px;
    background-color: var(--color-azul-secundario);
    border-radius: 50%;
    object-fit: contain;
}
#btnart1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 15px;
    color: var(--color-azul-secundario);
    text-decoration: none;
}

#btnart2 a{
    text-decoration: none;
    color: var(--color-fondo);
}

#carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px; /* Ajusta según el tamaño deseado */
}

.carousel-container {
    height: 100%;
    /* display: flex; */
    width: 100%; /* 100% x número de slides */
    /* animation: slide 12s infinite; */
}

.carousel-slides {
    height: 100%;
    display: flex;
    width: 100%;
}

.slide {
    flex: 1;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
    background-image: url("/imagenes/valle-de-la-luna-general-roca.jpg");
    background-position: top;
    background-size:cover;
    opacity: 0.9;
}

/* .slide img {
    width: 100%;
    height: auto;
} */

/* Animación para el carrusel */
/* @keyframes slide {
    0% { transform: translateX(0%); }
    33.33% { transform: translateX(-100%); }
    66.66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
} */

/* Estilos para el formulario de contacto
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: var(--color-principal);
    color: var(--color-fondo);
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-hover);
} */

footer {
    background-color: var(--color-principal);
    color: var(--color-azul-secundario);
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px var(--color-sombra);
}

.footer-content p {
    width: 100%;
    margin: 0;
    font-size: 0.9rem;
}

.social-links {
    width: 100%;
    margin: 1rem 0;
}

.social-links a {
    color: var(--color-enlace);
    margin: 0 0.5rem;
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.github{
    background-color: var(--color-azul-secundario);
    border-radius: 50%;
}

.social-links a:hover img {
    color: var(--color-azul-secundario);
    opacity: 0.8;
}

/*botones inicio*/

#boton{
    width: 100%;
    display: flex;
    margin-top: 25px;
    margin-left: 80px;
    gap: 15px;
}
#button1{
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid var(--color-azul-secundario);
    color: var(--color-fondo);
    border-radius: 8px;
}
#button2{
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    background-color: var(--color-azul-secundario);
    border: 1px solid var(--color-secundario);
    color: var(--color-fondo);
    border-radius: 8px;
}

